.key.nonnatural::after {
  background: #111;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0 0 0.25rem #111;
  content: '';
  display: block;
  position: absolute;
  left: -0.55rem;
  width: 1rem;
  height: 3.5rem;
}

.key.nonnatural.highlighted::after {
  background: repeating-linear-gradient(
    -45deg,
    #11111155,
    #11111155 1rem,
    transparent 1rem,
    transparent 2rem
  ),
  #634960;
}

.key.nonnatural {
  margin: 0;
  width: 0;
  z-index: 1;
}

.key.highlighted {
  background: repeating-linear-gradient(
    -45deg,
    #E3DAC944,
    #E3DAC944 1rem,
    transparent 1rem,
    transparent 2rem
  ),
  #634960;
}

.key {
  background: #E3DAC9;
  border-radius: 0 0 0.25rem 0.25rem;
  float: left;
  height: 5rem;
  margin: 0 0.125rem 0.125rem 0;
  position: relative;
  width: 1.5rem;
}