.key.nonnatural::after {
  background: #111;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 2px #111;
  content: '';
  display: block;
  position: absolute;
  left: -13px;
  width: 24px;
  height: 72px;
}

.key.nonnatural.highlighted::after {
  background: repeating-linear-gradient(
    -45deg,
    #11111155,
    #11111155 16px,
    transparent 16px,
    transparent 32px
  ),
  #634960;
}

.key.nonnatural {
  margin: 0;
  width: 0;
  z-index: 1;
}

.key.highlighted {
  background: repeating-linear-gradient(
    -45deg,
    #E3DAC944,
    #E3DAC944 16px,
    transparent 16px,
    transparent 32px
  ),
  #634960;
}

.key {
  background: #E3DAC9;
  border-radius: 0 0 3px 3px;
  float: left;
  height: 96px;
  margin: 0 2px 2px 0;
  position: relative;
  width: 32px;
}