.active.button {
  background: var(--accent-color);
  color: var(--foreground-color);
  text-shadow: 0 0 0.25rem var(--shadow-color);
}

.button {
  background: var(--foreground-color);
  border-radius: 1rem;
  display: inline-block;
  cursor: pointer;
  color: var(--accent-color);
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.75rem 0.5rem 0;
  text-decoration: none;
  outline: 0;
  font-size: 1rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}