.active.button {
  background: #634960;
  color: #E3DAC9;
}
.button {
  background: #E3DAC9;
  border-radius: 16px;
  display: inline-block;
  cursor: pointer;
  color: #634960;
  padding: 6px 16px;
  margin: 6px 12px 6px 0px;
  text-decoration: none;
  outline: 0;
  text-shadow: 0 0 2px #1115;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}