.active.button {
  background: #634960;
  color: #E3DAC9;
}
.button {
  background: #E3DAC9;
  border-radius: 1rem;
  display: inline-block;
  cursor: pointer;
  color: #634960;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.75rem 0.5rem 0;
  text-decoration: none;
  outline: 0;
  text-shadow: 0 0 0.25rem #1115;
  font-size: 1rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}