.chords {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.card {
  background-color: var(--background-light-color);
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.25rem;
}

.card h3 {
  color: var(--highlight-color);
  font-weight: normal;
  text-shadow: 0 0 0.25rem var(--shadow-color);
  height: 1.5rem;
  margin: 0.25rem 0.5rem 0.5rem 0.5rem;
  font-size: 1rem;
}