.center {
  display: flex;
  justify-content: center;
}

.root {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

h1 {    
  color: #C8AB37;
  -webkit-text-shadow: 0 0 2px #000;
  -moz-text-shadow: 0 0 2px #000;
  text-shadow: 0 0 2px #000;
}