<div class="root">
  <h1 class="center">piano chords</h1>
  <a class="center github" href="https://github.com/Macabresoft/piano-chord-catalog">view on github</a>
  <app-chord-shape-selection></app-chord-shape-selection>
  <router-outlet></router-outlet>
</div>
<footer class="center">
  <label>made by brett story / macabresoft.</label>
  <a href="https://twitter.com/macabresoft">@macabresoft on twitter</a>
  <a href="https://github.com/Macabresoft">github.com/macabresoft</a>
  <a href="https://www.macabresoft.com/">macabresoft.com</a>
</footer>
