<div class="root">
  <div class="center">
    <div class="icon baseline">
      <svg viewBox="0 0 8 8" class="skull">
        <path fill-rule="nonzero" d="M1,1 h6 v4 h-1 v1 h-2 v-1 h-1 v1 h-1 v-1 h-1 z M2,2 v2 h1 v-2 z M5,2 v2 h1 v-2 z" />  
        A cool skull would be here if your browser supported svg.
      </svg>
    </div>
    <h1 class="center">piano chords</h1>
  </div>
  <a class="center github" href="https://github.com/Macabresoft/piano-chord-catalog">view on github</a>
  <app-chord-shape-selection></app-chord-shape-selection>
  <router-outlet></router-outlet>
</div>
<footer class="center">
  <label>made by brett story / macabresoft.</label>
  <a href="https://twitter.com/macabresoft">@macabresoft on twitter</a>
  <a href="https://github.com/Macabresoft">github.com/macabresoft</a>
  <a href="https://www.macabresoft.com/">macabresoft.com</a>
</footer>
