<div class="root">
  <div class="header">
    <a href="https://www.macabresoft.com" class="icon">
      <svg viewBox="0 0 6 6">
        <path fill-rule="nonzero" d="M0,0 h6 v4 h-1 v1 h-2 v-1 h-1 v1 h-1 v-1 h-1 z M1,1 v2 h1 v-2 z M4,1 v2 h1 v-2 z" />  
        A cool skull would be here if your browser supported svg.
      </svg>
    </a>
    <h1>piano chords</h1>
  </div>
  <app-chord-shape-selection></app-chord-shape-selection>
  <router-outlet></router-outlet>
</div>
<footer class="center">
  <label>made by macabrett / macabresoft.</label>
  <a class="center github" href="https://github.com/Macabresoft/piano-chord-catalog">view on github</a>
  <a href="https://github.com/Macabresoft">github.com/macabresoft</a>
  <a href="https://www.macabresoft.com/">macabresoft.com</a>
</footer>
