.pixel.filled {
  background-color: var(--foreground-color);
}

.pixel {
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.pixel-line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.big-skull {
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}