<div *ngIf="!useAlternateLayout; then standardLayout else alternateLayout"></div>

<ng-template #standardLayout>
  <div class="key" [ngClass]="{'highlighted': hasNote(0)}"></div>
  <div class="key nonnatural" [ngClass]="{'highlighted': hasNote(1)}"></div>
  <div class="key" [ngClass]="{'highlighted': hasNote(2)}"></div>
  <div class="key nonnatural" [ngClass]="{'highlighted': hasNote(3)}"></div>
  <div class="key" [ngClass]="{'highlighted': hasNote(4)}"></div>
  <div class="key" [ngClass]="{'highlighted': hasNote(5)}"></div>
  <div class="key nonnatural" [ngClass]="{'highlighted': hasNote(6)}"></div>
  <div class="key" [ngClass]="{'highlighted': hasNote(7)}"></div>
  <div class="key nonnatural"[ngClass]="{'highlighted': hasNote(8)}"></div>
  <div class="key" [ngClass]="{'highlighted': hasNote(9)}"></div>
  <div class="key nonnatural" [ngClass]="{'highlighted': hasNote(10)}"></div>
  <div class="key" [ngClass]="{'highlighted': hasNote(11)}"></div>
</ng-template>

<ng-template #alternateLayout>
  <div class="key" [ngClass]="{'highlighted': hasNote(5)}"></div>
  <div class="key nonnatural" [ngClass]="{'highlighted': hasNote(6)}"></div>
  <div class="key" [ngClass]="{'highlighted': hasNote(7)}"></div>
  <div class="key nonnatural"[ngClass]="{'highlighted': hasNote(8)}"></div>
  <div class="key" [ngClass]="{'highlighted': hasNote(9)}"></div>
  <div class="key nonnatural" [ngClass]="{'highlighted': hasNote(10)}"></div>
  <div class="key" [ngClass]="{'highlighted': hasNote(11)}"></div>
  <div class="key" [ngClass]="{'highlighted': hasNote(0)}"></div>
  <div class="key nonnatural" [ngClass]="{'highlighted': hasNote(1)}"></div>
  <div class="key" [ngClass]="{'highlighted': hasNote(2)}"></div>
  <div class="key nonnatural" [ngClass]="{'highlighted': hasNote(3)}"></div>
  <div class="key" [ngClass]="{'highlighted': hasNote(4)}"></div>
</ng-template>