.key.nonnatural::after {
  background: #111;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  content: '';
  display: block;
  position: absolute;
  left: -9px;
  width: 16px;
  height: 64px;
}

.key.nonnatural.highlighted::after {
  background: #634960;
}

.key.nonnatural {
  margin: 0;
  width: 0;
  z-index: 1;
}

.key.highlighted {
  background: #634960;
}

.key {
  background: #E3DAC9;
  border-radius: 0 0 3px 3px;
  float: left;
  height: 88px;
  margin: 0 2px 2px 0;
  position: relative;
  width: 24px;
}